/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

@import "tailwindcss";

@font-face {
  font-family: 'Space Grotesk';
  src: url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust range as needed */
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust range as needed */
  font-display: swap;
}

/* ...existing code... */

@theme {
    --color-primary: #EDEDED;
    --color-accent: #3D3D3D;
    --font-secondary: Space Grotesk, sans-serif;
    --font-main: Sora, sans-serif;
}


/* TEXT JUMP ANIMATION */
.text-jump span {
    display: inline-block;
    animation: jump 0.5s ease forwards;
    opacity: 0;
}

@keyframes jump {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        transform: translateY(-30px);
        opacity: 50;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }
}

/* Set animation delays for each letter */
.text-jump span:nth-child(1)  { animation-delay: 0s; }
.text-jump span:nth-child(2)  { animation-delay: 0s; }
.text-jump span:nth-child(3)  { animation-delay: 0s; }
.text-jump span:nth-child(4)  { animation-delay: 0s; }
.text-jump span:nth-child(5)  { animation-delay: 0s; }
.text-jump span:nth-child(6)  { animation-delay: 0s; }
/* .text-jump span:nth-child(2)  { animation-delay: 0.05s; }
.text-jump span:nth-child(3)  { animation-delay: 0.1s; }
.text-jump span:nth-child(4)  { animation-delay: 0.15s; }
.text-jump span:nth-child(5)  { animation-delay: 0.2s; }
.text-jump span:nth-child(6)  { animation-delay: 0.25s; } */

/* Adding a 0.1s gap here */
.text-jump span:nth-child(7)  { animation-delay: 0.45s; }
.text-jump span:nth-child(8)  { animation-delay: 0.5s; }
.text-jump span:nth-child(9)  { animation-delay: 0.55s; }
.text-jump span:nth-child(10) { animation-delay: 0.6s; }
.text-jump span:nth-child(11) { animation-delay: 0.65s; }
.text-jump span:nth-child(12) { animation-delay: 0.7s; }
.text-jump span:nth-child(13) { animation-delay: 0.75s; }
.text-jump span:nth-child(14) { animation-delay: 0.8s; }
.text-jump span:nth-child(15) { animation-delay: 0.85s; }


@media (max-width: 768px) {
    @keyframes jump {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        transform: translateY(-15px);
        opacity: 50;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }
}
}

.project-card-container {
  width: fit-content;
  height: fit-content;
  padding: 16px;
  box-shadow: 0px 2px 5px 0px var(--color-accent);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-image {
  width: 320px;
  height: 320px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.project-card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* backface-visibility: hidden; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

